.suggestion-item {
    --p-spacing-old: var(--p-spacing);
}

.suggestion-item[data-item-type="block"][data-item-node-type="comment"] .markdown-rendered {
    color: var(--code-comment);
}

.suggestion-content {
    width: 100%;
}

.suggestion-title > .markdown-rendered {
    font-size: calc(var(--font-ui-medium) / var(--font-text-size) * 100%);
    padding: 0;
    --p-spacing: calc(var(--p-spacing-old) * 0.15);
}

.suggestion-title > .markdown-rendered mjx-container[display="true"] {
    margin-top: var(--p-spacing);
    margin-bottom: var(--p-spacing);
}
