/* @settings

name: Rendered Block Link Suggestions
id: rendered-block-link-suggestions
settings:
    -
        id: rendered-block-link-suggestions-margin
        title: Margin size
        type: variable-number-slider
        min: 0
        max: 1
        step: 0.01
        default: 0.2
*/

.suggestion-item {
    --p-spacing-old: var(--p-spacing);
}

.suggestion-item[data-item-type="block"][data-item-node-type="comment"] .markdown-rendered {
    color: var(--code-comment);
}

.suggestion-content {
    width: 100%;
}

.suggestion-title > .markdown-rendered {
    font-size: calc(var(--font-ui-medium) / var(--font-text-size) * 100%);
    padding: 0;
    --p-spacing: calc(var(--p-spacing-old) * var(--rendered-block-link-suggestions-margin, 0.2));

    & mjx-container[display="true"],
    > pre,
    > .callout,
    > blockquote {
        margin-top: var(--p-spacing);
        margin-bottom: var(--p-spacing);
    }
}
